<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<h1>메인페이지</h1>

<h1>Upload Image for Classification</h1>

<div>
    <img id="img_preview" style="max-width: 300px; max-height: 300px; display:none;">
</div>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" accept="image/*" onchange="UploadButton(event)"/>
    <button type="button" id="uploadButton" onclick="uploadImage()" disabled>Upload</button>
</form>

<hr>
<div id="result"></div>

<div id="review">
    <form id="error" enctype="multipart/form-data">
        <input type="text" id="textError" value="" onchange="editButton()"/>
        <button type="button" id="submitError" onclick="editImage()" disabled>오류 수정하기</button>
    </form>

</div>





<script type="text/javascript" th:src="@{/mainPage.js}"></script>
<link th:href="@{/mainPage.css}" rel="stylesheet">




</body>

</html>