<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>관리자 페이지</h1>
<div>
    <h2>모델 학습시키기</h2>
    <button type="button" onclick="modelTrain()">모델 생성</button>
</div>

<div>
    <h2>카테고리 추가 시키기</h2>
<form id="ca_form" enctype="multipart/form-data">
    <input type="text" id="caInput" name="name">
    <button type="button" id="cabutton" onclick="cabuttons()" >카테고리 추가</button>
</form>
</div>


<table>
    <tr>
        <th>이름</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>

    <tr th:each="category : ${category_list}">
        <td>
            <!-- 기존 이름 표시 -->
            <span th:id="'name-'+${category.id}" th:text="${category.name}"></span>
            <!-- 이름을 수정할 수 있는 숨겨진 입력 필드 -->
            <input type="text" th:id="'input-'+${category.id}" th:value="${category.name}" style="display:none;">
        </td>
        <td>
            <!-- 수정 버튼 -->
            <button type="button" th:id="'edit-btn-'+${category.id}" th:myid="${category.id}" th:onclick="showEditInput(this.getAttribute('myid'))">수정</button>
            <!-- 저장 버튼 (초기에는 숨김 처리) -->
            <button type="button" th:id="'save-btn-'+${category.id}" style="display:none;"  th:myid="${category.id}" th:myname="${category.name}"
                    th:onclick="saveEdit(this.getAttribute('myname'),this.getAttribute('myid'))">저장</button>
        </td>
        <td>
            <!-- 삭제 버튼 -->
            <button type="button"  th:myname="${category.name}" th:onclick="deleteCategory(this.getAttribute('myname'))">삭제</button>
        </td>
    </tr>

</table>





<h1 th:text="${rs}"></h1>

<script type="text/javascript" th:src="@{/managerPage.js}"></script>
<link th:href="@{/managerPage.css}" rel="stylesheet">
</body>

</html>