<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>관리자 페이지</h1>
<form id="ca_form" enctype="multipart/form-data">
    <input type="text" id="caInput" name="name">
    <button type="button" id="cabutton" onclick="cabuttons()" >카테고리 추가</button>
</form>

<table>
    <tr>
        <th>이름</th>
        <th>수정/삭제</th>
    </tr>

    <tr th:each="category : ${category_list}">
        <td th:text="${category.name}"></td>
        <td><button>수정/삭제</button></td>

    </tr>

</table>



<h1 th:text="${rs}"></h1>

<script type="text/javascript" th:src="@{/managerPage.js}"></script>

</body>

</html>