<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>모델 학습 선별 페이지</h1>

<table>
    <tr>
        <th>카테고리</th>
        <th>이미지</th>
        <th>수락</th>
        <th>거절</th>
    </tr>

    <tr th:each="imge : ${imges}">
        <td>
            <!-- 기존 이름 표시 -->
            <div th:id="'name-'+${imge.id}" th:text="'분류 :'+${imge.category}"></div>
            <label th:for="'select-'+${imge.id}">카테고리 지정:</label>
            <select th:id="'select-'+${imge.id}" name="category" >
                <option th:each="category : ${category_list}"
                        th:value="${category.name}" th:text="${category.name}">
                </option>
            </select>
        </td>

        <td>
            <img th:src="'/imges/'+${imge.name}" width="250px" height="250px">
        </td>
        <td>

<!--            <button type="button" th:id="'save-btn-'+${category.id}"   th:myid="${category.id}" th:myname="${category.name}"-->
<!--                    th:onclick="saveEdit(this.getAttribute('myname'),this.getAttribute('myid'))">저장</button>-->
            <button type="button" th:id="'accept-btn-'+${imge.id}"
                    th:myid="${imge.id}"
                    th:mypath="${imge.path}"
                    th:myname="${imge.name}"
                    th:onclick="acceptButton(this.getAttribute('myid'),this.getAttribute('mypath'),this.getAttribute('myname'))"
            >
                수락</button>
        </td>
        <td>
            <!-- 삭제 버튼 -->
<!--            <button type="button"  th:myname="${category.name}" th:onclick="deleteCategory(this.getAttribute('myname'))">삭제</button>-->
            <button type="button" th:id="'refuse-btn-'+${imge.id}"
                    th:myid="${imge.id}"
                    th:onclick="refuseButton(this.getAttribute('myid'))"
            >거절</button>
        </td>
    </tr>

</table>
<script type="text/javascript" th:src="@{/trainPage.js}"></script>

</body>
</html>